@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "All Users";
}
<h1>All Users</h1>
@if (Model.Any())
{

    <a class="btn btn-primary" style="width:auto" asp-controller="Account" asp-action="Register">Add New User</a>
    foreach (var role in Model)
    {
<div class="card mb-3">
    <div class="card-header">
        Role Id: @role.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">
            @role.UserName
        </h5>
    </div>
    
    <div class="card-footer">

        <form asp-action="DeleteUSer" asp-controller="Administration" asp-route-id="@User.Identity method="post" style="display: inline !important">

            <span id="confirmDeleteSpan_@User.Identity" style="display:none">
                <span>Want to delete?</span>
                <button type="submit" class="btn btn-danger">Yes</button>
                <a href="#" class="btn btn-primary"
                   onclick="confirmDelete('@User.Identity', false)">No</a>
            </span>
            <span id="DeleteSpan_@User.Identity">
                <a href="#" class="btn btn-danger m-1"
                   onclick="confirmDelete('@User.Identity', true)">Delete</a>
            </span>
        </form>
       
    </div>

</div>
    }
}
else
{
    <div class="card">

        <div class="card-header">
            No Roles Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button Below to create a User</h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Account" asp-action="Register">Add New User</a>
        </div>
    </div>
}
@section Scripts{ 
    <script src="~/js/CustomScripts.js"></script>
}
