@model IEnumerable<GreenLife.Models.City>
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewData["Title"] = "Cities Index";
    //var newphotopath = "~/Images/" + (Model.ExistingPhtopath ?? "Mind.jpg");
}
<h2 style="color: whitesmoke;background: gray;width: 100px;padding-top: 2px;margin-left: 2px;">Cities</h2>
<p>
    <a asp-action="Create" class="btn btn-primary" style="margin-top:2px; margin-left:2px; ">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                <div>
                    <a asp-controller="City" asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-primary m-1" style="width:68px !important; height:37px !important">Edit</a>
                    <form asp-action="Delete" asp-controller="City" asp-route-id="@item.Id" method="post" style="display: inline !important">

                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span>Are You Sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@item.Id', false)">No</a>
                        </span>
                        <span id="DeleteSpan_@item.Id">
                            <a href="#" class="btn btn-danger m-1"
                               onclick="confirmDelete('@item.Id', true)">Delete</a>
                        </span>
                    </form>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/site.js"></script>
}

